{% extends 'base.html' %}

{% block title %}
OWASP | Certificates
{% endblock %}

{% block head %}
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-storage.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- remember, jQuery is completely optional -->
<!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.particleground.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/demo.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div id="particles">
    <div id="intro">
      <h1 class="header"><span aria-hidden="hidden">Certificates</span><span aria-hidden="hidden">Certificates</span><span aria-hidden="hidden">Certificates</span><span aria-hidden="hidden">Certificates</span><span aria-hidden="hidden">Certificates</span>Certificates<span aria-hidden="hidden">Certificates</span></h1>
      <img src="{{ url_for('static', filename='icons/owasp-logo.png') }}" class="logo">
      <form action="http://127.0.0.1:5000/Data" method="POST">
        <div class="search-form">
              <input name="dis_id" type="text" placeholder="Discord Id">
              <div class = "button"></div>
              <button type="submit" value="Submit" class="submit-btn"><i class="fas fa-space-shuttle"></i></button>
        </div>
      </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/firstclone.js') }}"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
 
<script>
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyDTT2f-Xbhl4pQeunt51gDefvXt-Wui-AY",
  authDomain: "owasp-test-855b8.firebaseapp.com",
  databaseURL: "https://owasp-test-855b8-default-rtdb.firebaseio.com",
  projectId: "owasp-test-855b8",
  storageBucket: "owasp-test-855b8.appspot.com",
  messagingSenderId: "591067196689",
  appId: "1:591067196689:web:ed7c9e81f84558451ab0b0",
  measurementId: "G-8TB6Z07KQ2"
};
firebase.initializeApp(firebaseConfig);
</script>

<script>
  // creating reference
// Get a reference to the storage service, which is used to create references in your storage bucket
var storage = firebase.storage();

// Create a storage reference from our storage service
var storageRef = storage.ref();

var certRef = storageRef.child('dynamic certificate');

var gsReference = storage.refFromURL('gs://owasp-test-855b8.appspot.com/dynamic certificate/Janakiraman-1-2');

// This can be downloaded directly:
storageRef.child('dynamic certificate/Janakiraman-1-2').getDownloadURL()
  .then((url) => {
var xhr = new XMLHttpRequest();
    xhr.responseType = 'blob';
    xhr.onload = (event) => {
      var blob = xhr.response;
    };
    xhr.open('GET', url);
    xhr.send();
  })
  .catch((error) => {
    // Handle any errors
  });
</script>
{% endblock %}