{% extends 'base.html' %}

{% block title %}
OWASP | Certificates
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- remember, jQuery is completely optional -->
<!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.particleground.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/demo.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div id="particles">
    <div id="intro">
      <h1 class="header"><span aria-hidden="hidden">Certificates</span><span aria-hidden="hidden">Certificates</span><span aria-hidden="hidden">Certificates</span><span aria-hidden="hidden">Certificates</span><span aria-hidden="hidden">Certificates</span>Certificates<span aria-hidden="hidden">Certificates</span></h1>
      <img src="{{ url_for('static', filename='icons/owasp-logo.png') }}" class="logo">
      <form action="http://127.0.0.1:5000/Data" method="POST">
        <div class="search-form">
              <input name="dis_id" type="text" placeholder="Discord Id">
              <div class = "button"></div>
              <button type="submit" value="Submit" class="submit-btn"><i class="fas fa-space-shuttle"></i></button>
            
        </div>
      </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/firstclone.js') }}"></script>
{% endblock %}